//////////////////////////////////////////////////////////////////////////////////////////
//////// This file contains styles for Resetting the basic Browser Defaults
//////// and adding basic functionalities
//////////////////////////////////////////////////////////////////////////////////////////

// Basic Reset
*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
  // Defines 1rem = 10px 
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-primary;
}
