body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-white;
}

p {
    font-size: $default-font-size;
    color: $color-white;
}
