//colors
$color-primary: #0f171e;
$color-primary-light: #37536D;
$color-primary-dark: #151F29;

$color-secondary: #0F79AF;
$color-secondary-light: #56BDF0;
$color-secondary-dark: #08415E;

$color-black: #070A0D;
$color-white: #FFFF;